<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="top100.css">
    <script src="petite-vue.iife.js"></script>
    <title>New tab</title>
</head>
<body v-scope @mounted="initialize">
    <div v-if="loading" class="loader-wrapper">
        <div class="loader"></div>
    </div>
    <div class="metadata-wrapper">
        <div class="logo-wrapper">
            <a id="logo-link" :href="config.BASE_URL" target="_blank">
                <img :src="config.LOGO_SRC" class="logo">
            </a>
        </div>
        <div v-if="image">
            <a :href="image.ReferenceURL" :alt="image.Title" class="title" target="_blank">
                {{ image.Title }}
            </a>
            <a :href="config.COPYRIGHT_URL" target="_blank">
                {{ image.Credit }}
            </a>
        </div>
    </div>
    <img v-if="imageURL" :src="imageURL" class="the-image"></img>
    <script src="top100.js"></script>
</body>
</html>